.home {
    display: inline-block;
    margin-left: 12.5%;
    position: absolute;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-top: 2%;
}

.inline:hover {
    color: white;
}

.inline {
    display: inline-block;
    color: white;
    letter-spacing: -7px;
    padding: 0;
    font-size: 55px;
    color: red;
    margin-left: 12px;
    margin-bottom: 40px;
}

@media (max-width: 837px) {
    .home {
        padding-left: 9%;
    }
}