.aboutHome {
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 10%;
    padding: 0;
}

.inline:hover {
    color: white;
}

.inline {
    display: inline-block !important;
    color: white;
    letter-spacing: 3px;
    padding: 0;
    font-size: 55px;
    color: red;
    margin-bottom: 60px;
    /* margin-left: 12px;
    margin-bottom: 40px; */
}

@media (max-width: 837px) {
    .aboutHome {
        position: absolute;
        top: 85%;
        left: 13%;
        padding-bottom: 100px;
    }
}