.aboutHome {
    font-weight: bold;
    position: absolute;
    margin-top: 5%;
    display: inline-block;
    margin-left: 10%;
    padding: 0;
}

.inline:hover {
    color: white;
}

.inline {
    display: inline-block !important;
    color: white;
    letter-spacing: 3px;
    padding: 0;
    font-size: 55px;
    color: red;
    margin-bottom: 60px;
    /* margin-left: 12px;
    margin-bottom: 40px; */
}

@media (max-width: 837px) {
    .aboutHome {
        position: absolute;
        margin-left: 18%;
        padding-bottom: 100px;
    }
}