/* .pdfHome {
    font-weight: bold;
    margin: 0;
    top: 10px !important;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5%;
    padding: 0;
    width: 100%;
} */

.pdfHome {
    position: absolute;
}


/* html {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: scroll;
}

body {
    position: absolute;
    overflow: scroll;
} */


/* .pdfHome {
    width: 50%!important;
} */

.react-pdf__Page {
    height: 700px;
}

.react-pdf__Document {
    width: 0;
    height: 0;
}