.home {
    line-height: 55px !important;
}

code {
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
    color: rgb(81, 81, 82);
    font-family: "La Belle Aurore", cursive;
    position: relative;
    left: -10%;
}

.bigK {
    position: relative;
    left: 16px;
    width: 43px;
    margin-right: 4px;
    top: -2px;
}

.h1Ocode {
    top: 10px;
}

.h1Ccode {
    left: 15px;
}

.htmlCcode {
    top: -44px;
    left: -60px;
}

.span {
    display: flex;
}

.inline {
    display: inline-block !important;
    color: white;
    line-height: 10px !important;
    letter-spacing: -23px !important;
}

.inline:hover {
    color: rgb(206, 35, 49);
}

.classA {
    padding-left: 10px;
    font-size: 90%;
    color: blue !important;
    font-family: fantasy;
    font-style: italic;
}

.classB {
    padding-left: 10px;
    font-size: 90%;
    color: rgb(185, 12, 30);
    font-family: fantasy;
    font-style: italic;
}

.classC {
    padding-left: 15px;
    font-size: 90%;
    color: pink;
    font-family: fantasy;
    font-style: italic;
}

.underText {
    font-size: 11px;
    letter-spacing: 3px;
    margin-top: 17px;
    color: white;
    /* margin-left: 15px; */
}

canvas {
    height: 100% !important;
    width: 500px !important;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    margin-left: 200px;
    /* height: 250px !important; */
}

.dropDown {
    display: flex;
    position: absolute;
    right: -810px;
    top: 0px;
}

.bodyOcode {
    position: relative;
    top: -10px;
}

.musicBtn {
    position: absolute;
    top: 10px;
}

@media (max-width: 1175px) {
    .dropDown {
        left: 180px;
        border-radius: 50%;
    }
}

@media (max-width: 1175px) {
    .music {
        position: relative;
        left: -700px;
    }
}

@media (max-width: 570px) {
    .music {
        position: relative;
        left: -700px;
        width: 50%;
    }
}

@media (max-width: 770px) {
    .dropDown {
        display: none;
    }
}

@media (max-width: 740px) {
    .cube {
        display: none;
    }
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

label {
    position: absolute;
}


/* mobile */


/* @media (min-width: 320px) {
    body {
        font-size: 50%;
    }
    .home {
        width: 100%;
        font-size: 20px;
        size: 40px;
    }
} */

@media (max-width: 500px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .homePage {
        margin-top: 35px;
        margin-left: -30px;
        font-size: 40%;
        padding: 11px;
    }
    .htmlCcode {
        top: -4px;
        left: -60px;
    }
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}